:root {
  --widthAllPage: 1200px;
}

#CoursePage {
  position: relative;
  /* background: #f2f5f5; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}

#CoursePage .page-course {
  width: 100%;
}

#CoursePage .introduct-course {
  max-width: var(--widthAllPage);
  margin: 0 auto;
}

#CoursePage .course-center {
  width: 100%;
  /* background-color: #f2f5f5; */
}

.introduct-course .swiper {
  width: 100%;
  height: 100%;
}

.introduct-course .swiper-wrapper {
  width: 100%;
}

.introduct-course .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.introduct-course .swiper-slide:nth-child(odd) {
  background-color: #127c71;
}

.introduct-course .swiper-slide:nth-child(even) {
  background-color: #ffaf35;
}

.introduct-course .text {
  width: 60%;
  padding-right: 20px;
  text-align: center;
}

.introduct-course .img-title {
  width: 40%;
}

.introduct-course .text h3 {
  color: #e6dcdc;
  font-size: 18px;
}

.introduct-course .img-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.introduct-course .swiper-button-next,
.introduct-course .swiper-button-prev,
.introduct-course .swiper-pagination {
  display: none;
}

/* course-center */

.course-center .course-container {
  max-width: var(--widthAllPage) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* margin-left: 80px; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  background-color: inherit;
}

.course-center .search-course {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.course-center .form-select,
.course-center .form-control {
  width: 200px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 14px;
}

.course-center .search-input {
  margin-left: 20px;
}

.course-center .course-card {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; //Căn hàng card theo bên trái */
  background-color: inherit;
}

.course-center .card {
  width: 280px;
  /* margin: 0 !important; */
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.course-center .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.course-center .card-body {
  padding: 0 15px;
}

.course-center .card-body .card-title {
  height: 60px;
  margin-bottom: 0;
}

.card-body .card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 5px;
}

.card-bottom .course-price {
  margin: 10px 0;
}
