
:root {
  --widthAllPage: 1200px;
}

#CoursePage {
  position: relative;
  background: #f2f5f5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: var(--widthAllPage);
  padding: 0;
}

.introduct-course .swiper {
  width: 100%;
  height: 100%;
}

.introduct-course .swiper-wrapper {
  width: 100%;
}

.introduct-course .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
}

.introduct-course .swiper-slide:nth-child(odd) {
  background-color: #127c71;
}

.introduct-course .swiper-slide:nth-child(even) {
  background-color: #ffaf35;
}

.introduct-course .text {
  width: 60%;
  padding-right: 20px;
  text-align: center;
}

.introduct-course .img-title {
  width: 40%;
}

.introduct-course .text h3 {
  color: #e6dcdc;
  font-size: 18px;
}

.introduct-course .img-title img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.introduct-course .swiper-button-next,
.introduct-course .swiper-button-prev,
.introduct-course .swiper-pagination {
  display: none;
}

/* course-center */

.course-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-left:80px;
  padding-bottom: 100px;
}

.course-center .search-course {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.course-center .form-select,
.course-center .form-control {
  width: 200px;
  height: 40px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  font-size: 14px;
}

.course-center .search-input {
  margin-left: 20px;
}

.course-center .course-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Căn hàng card theo bên trái */
}

.course-center .card {
  width: 250px;
  margin: 10px ; 
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-center .card img {
  width: 100%;
  height: auto;
}

.course-center .card-body {
  padding: 15px;
}
