#footer .Fcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--widthAllPage);
  margin: auto;
  color: #fff;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #127c71;
  height: 350px;
}

.Fcontainer .left {
  width: 40%;
}

.Fcontainer .list {
  width: 20%;
}

.Fcontainer .left > .external-link {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 25px;
  margin: 10px 0;
}

.Fcontainer .external-link img {
  height: 100%;
  filter: invert(1);
  margin-right: 10px;
}

.Fcontainer .left > p.title {
  color: #fff;
  font-size: 14px;
  line-height: 1.75;
  letter-spacing: 1px;
  margin: 16px 0;
  width: 87%;
}

.list > li {
  list-style: none;
}

.list li a {
  text-decoration: none;
  color: #fff;
  line-height: 2;
}

.list li.list-title {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 17px;
}
