#forgot {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #f2b250, #38766d);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#forgot .forgot-container {
  width: 966px;
  height: 600px;
  background-color: inherit;
  border-radius: 5px;
  overflow: hidden;
}

.forgot-step1 {
  width: 500px;
  height: 250px;
  border-radius: 8px;
  margin: calc((600px - 250px) / 2) auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.544);
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateX(100%);
}

.forgot-container .step1-title {
  font-weight: 650;
  padding-top: 10px;
  margin-left: 20px;
  margin-bottom: 0;
}

.forgot-container .line-forgot1 {
  margin: 5px 0;
}

.step1-input {
  margin: 0 20px;
}

.step1-input > label {
  color: black;
  font-size: 17px;
  margin-top: 10px;
  font-weight: 500;
}

.step1-input > input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 0.5px solid gray;
  /* background-color:#3dead0; */
}

input:focus {
  box-shadow: 0 0px 15px 0px #f2b250 !important;
  transition: 0.35s ease;

  /* border-color: #66afe9; */
}

.input-forgot-email.trueEmail {
  box-shadow: 0 0px 15px 0px #5bf250 !important;
  transition: 0.35s ease;
}

.input-forgot-email.falseEmail {
  box-shadow: 0 0px 15px 0px #b90b0b !important;
  transition: 0.35s ease;
}
button.btn-forgot {
  width: 60px;
  height: 35px;
  background-color: rgb(212, 207, 207);
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  margin: 15px 5px;
  float: right;
}

button.btn-forgot-find {
  width: 70px;
  background-color: rgb(66, 228, 174);
  margin-right: 20px;
}

.forgot-step2 {
  width: 500px;
  height: 400px;
  background-color: #fff;
  position: relative;
  margin: calc((600px - 365px) / 2) auto;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.544);
}
.findAccountSuccess > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
}

.findAccountSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  position: absolute;
  top: -85px;
  left: 0;
}
.findAccountSuccess > h1 {
  margin-top: 5px;
}

.box-changePass {
  padding-top: 170px;
  width: 460px;
  margin: 0 auto;
}

.box-changePass input.input-forgot {
  width: 100%;
  border-radius: 8px;
  border: 0.5px solid gray;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.sendPass {
  width: 100%;
}
.sendPass input.input-forgot-token {
  width: 79% !important;
  margin-right: 1%;
}

.sendPass button.btn-forgot-sendToken {
  width: 20%;
  margin: 0;
  height: 40px;
}

button.btn-forgot-submit {
  width: 150px !important;
}

.input-forgot-newPassAgain.truePWAgain {
  box-shadow: 0 0px 15px 0px #5bf250 !important;
  transition: 0.35s ease;
}

.input-forgot-newPassAgain.falsePWAgain {
  box-shadow: 0 0px 15px 0px #b90b0b !important;
  transition: 0.35s ease;
}

.input-forgot-newPass.falseNewPW {
  box-shadow: 0 0px 15px 0px #b90b0b !important;
  transition: 0.35s ease;
}
.input-forgot-newPass.trueNewPW {
  box-shadow: 0 0px 15px 0px #5bf250 !important;
  transition: 0.35s ease;
}
