#forgot {
  box-sizing: border-box;
  background-image: linear-gradient(to bottom right, #f2b250, #38766d);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#forgot .forgot-container {
  width: 966px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
}

