/* reset css 1 for all page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --widthMentorElement: 328px;
}

/* section1 */
section#introduce .intro-container {
  display: flex;
  max-width: var(--widthAllPage);
  margin: 0 auto;
}

section#introduce .intro-container > .intro-left {
  width: 60%;
}

section#introduce .intro-container > .intro-right {
  width: 40%;
}

.intro-container .intro-right > img {
  width: 100%;
}

mark.improve {
  font-size: inherit;
  line-height: 1.5;
  color: #397a71;
  background-color: unset;
  position: relative;
  padding: 0;
}

mark.improve > img.headline {
  position: absolute;
  bottom: -20px;
  left: -5px;
  width: 70%;
}

section#introduce h2.title {
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
  padding-top: 30px;
}
h2.title span.title-left-svg {
  position: relative;
}

h2.title img.svg-top-skill {
  position: absolute;
  top: -5px;
  right: -20px;
}

section#introduce .intro-left p.content {
  color: #717171;
  width: 74.5%;
  font-size: 15.5px;
  line-height: 1.5;
  margin: 25px 0;
}
section#introduce .intro-left .button {
  height: 45px;
  border: 2px solid #397a71;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
}
section#introduce .intro-left .button.btn1 {
  width: 124px;
  margin-right: 16px;
  margin-left: 2px;
  color: #fff;
  background-color: #397a71;
}
section#introduce .intro-left .button.btn2 {
  width: 156px;
  background-color: #fff;
  color: #397a71;
}

section#introduce .intro-bottom {
  max-width: var(--widthAllPage);
  box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.209);
  margin: 0 auto;
  border-radius: 15px;
}

.intro-bottom .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
}

.intro-bottom .left,
.intro-bottom .right,
.intro-bottom .center {
  width: 33.3333333%;
  text-align: center;
}

.intro-bottom p {
  font-size: 44px;
  margin-bottom: 14px;
  color: #f4b350;
  line-height: 1.5;
  font-weight: 700;
  font-family: "Cabin", sans-serif;
}

.intro-bottom h5 {
  color: #717171;
  font-size: 17px;
  line-height: 1.4;
  font-weight: 600;
}
/* ipad pro */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  section#introduce .intro-container {
    flex-direction: column;
    align-items: center;
  }

  section#introduce .intro-container > .intro-left,
  section#introduce .intro-container > .intro-right {
    width: 100%;
    text-align: center;
  }

  section#introduce h2.title {
    font-size: 48px;
  }

  section#introduce .intro-left p.content {
    width: 90%;
    font-size: 14px;
  }

  section#introduce .intro-left .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .intro-bottom .container {
    flex-direction: column;
    width: 100%;
  }

  .intro-bottom .left,
  .intro-bottom .right,
  .intro-bottom .center {
    width: 100%;
    margin-bottom: 10px;
  }

  .intro-bottom p {
    font-size: 36px;
  }

  .intro-bottom h5 {
    font-size: 16px;
  }
}

/* section2 */
.section2 {
  background-color: #f2f5f5;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}

.courseContainer {
  max-width: var(--widthAllPage);
  margin: 0 auto;
  margin-top: 100px;
}

.swiper-container {
  flex: 0 0 70%;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 0 0 auto;
  width: calc(100% / 3);
  padding: 0 10px;
  box-sizing: border-box;
}

.card {
  border: 1px #ccc;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  margin: 10px;
}

.card-img-top {
  width: 100%;
  height: auto;
  transform: scale(0.9);
  border-radius: 16px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.star {
  color: gold;
  padding: 10px;
}

.course-price {
  margin-top: 10px;
  font-weight: bold;
  color: #127c71;
}

.course-title {
  flex: 0 0 30%;
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  font-size: 36px;
}

.swiper-buttons {
  display: flex;
  justify-content: center;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Định dạng thẻ a trong section2 */

.section2 a {
  color: #fff;
  background-color: #127c71;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 1000px 20px 100px 200px;

  transition: background-color 0.3s, color 0.3s;
}

.section2 a:hover {
  background-color: #fff;
  color: #127c71;
}

.section2 a:active {
  background-color: #127c71;
}

.section2 a:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(97, 218, 251, 0.5);
}

.section2 .link-coursePage {
  margin-top: 60px;
  margin-left: -150px;
}
.arrow-container {
  margin-left: 600px;
  margin-top: 40px;
  top: 50%; /* Đặt ở giữa theo chiều dọc */
  transform: translateY(-50%); /* Căn giữa theo chiều dọc */
  display: flex;
  flex-direction: row;
  gap: 10px; /* Khoảng cách 10px giữa hai mũi tên */
}

.arrow-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #127c71;
  display: inline-block;
  overflow: hidden;
  transition: background-color 0.3s;
}

.arrow-wrapper:hover {
  background-color: #fff;
}

.arrow-wrapper:hover .MuiSvgIcon-root {
  fill: #127c71;
}

.arrow-wrapper .MuiSvgIcon-root {
  width: 80%;
  height: 80%;
  fill: #fff;
  transition: fill 0.3s;
}

.arrow-background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .section2 {
    flex-direction: column;
    padding: 20px;
  }

  .courseContainer {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }

  .courseContainer > .course-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .courseContainer > .swiper-container {
    width: 100%;
  }

  .swiper-slide {
    width: calc(100% / 2);
  }
  .section2 .swiper-container {
    margin-left: 20px; /* Điều chỉnh giá trị này để dịch chuyển sang phải */
    width: calc(100% - 20px); /* Đảm bảo phần tử không vượt quá chiều rộng của màn hình */
  }
  .swiper-wrapper {
    flex-direction: row;
  }

  .swiper-buttons {
    flex-direction: column;
  }

  .arrow-container {
    margin: 0 auto;
    justify-content: center;
  }

  .link-coursePage {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  .course-title h1 {
    font-size: 28px; /* Điều chỉnh kích thước font nếu cần */
    display: flex;
    justify-content: center;
  }

  .course-title strong {
    display: inline; /* Đảm bảo hiển thị theo chiều ngang */
    white-space: nowrap; /* Không cho phép ngắt dòng */
    margin-left:-80px;
  }
  
}

.swiper-container.section2 {
  /* position: relative; */
}

/* .swiper-pagination {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
} */

/* .swiper-pagination-bullet {
  width: 40px;
  height: 10px;
  background-color: #2f5d58;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
} */

/* .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #127c71;
} */

/* section 3 */
/* Import Google Font */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container1,
.container2 {
  flex: 1 1 calc(50% - 40px);
  margin-bottom: 20px;
}

.container1 .feature-img {
  position: relative;
}

.container1 .feature-img img {
  width: 80%;
  height: auto;
}

/* Vị trí nội dung nổi bật */
.feature-content {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
  background-color: #fff;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font-size: 0.85rem;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

.feature-content h1 {
  font-size: 16px;
  margin: 0 0 10px;
}

.feature-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #717171;
}

.feature-content li {
  margin-bottom: 10px;
}

.progress-container {
  margin: 5px 0;
}

.progress-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  position: relative;
}

.progress-bar-inner {
  height: 100%;
  transition: width 0.3s ease;
}

.progress-bar-inner.pink {
  background-color: #f303ff;
}

.progress-bar-inner.green {
  background-color: #127c71;
}

.progress-bar-inner.blue {
  background-color: #0063ff;
}

/* Vòng tròn tiến trình */
.progress-circle {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  display: block;
}

.progress-circle-background {
  stroke: #e0e0e0;
  stroke-width: 4;
  fill: none;
}

.progress-circle-progress {
  stroke: #127c71;
  stroke-width: 4;
  fill: none;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: center;
}

.progress-text {
  fill: #127c71;
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
}

/* Hộp thông tin nhỏ */
.LoremIpsum {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  font-size: 0.85rem;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  margin-bottom: 8px;
}

p {
  color: #9e9e9e;
}
@media screen and (max-width: 768px) {
  .container1,
  .container2 {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .container1,
  .container2 {
    flex-basis: calc(50% - 40px);
  }
}

.headline {
  position: relative;
  font-size: 1rem;
  margin-top: 50px;
  margin-left: 10px;
}
.hightlight {
  color: #127c71;
  position: relative;
}

.container2 .curve-image {
  position: absolute;
  bottom: -20px;
  right: 10px;
  width: 95%;
}

.circle-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #127c71;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.circle-container svg {
  width: 60%;
  height: 60%;
  fill: #fff;
}

.benefit-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.benefit {
  flex: 0 1 calc(50% - 10px); /* Mỗi ô chiếm 50% chiều rộng, trừ đi khoảng cách giữa các ô */
  box-sizing: border-box;
  margin-bottom: 20px; /* Khoảng cách giữa các hàng */
  padding: 20px;
}

.benefit:nth-child(odd) {
  margin-right: 10px;
}

.benefit-title {
  color: #ffaf35;
}

.benefit {
  height: 100px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
}

.benefit-one {
  flex: 1;
  padding: 10px;
}

.benefit-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.benefit-description {
  font-size: 14px;
}
.navbar {
  margin-top: 100px;
  display: flex; /* Sử dụng flexbox để các button nằm trên cùng một hàng */
}

.navbar button {
  color: #fff;
  width: 300px;
  flex: 1; /* Chia đều không gian giữa các button */
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: #127c71;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #2bc9b9;
}

.image-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.image-container img {
  width: 1200px;
  height: auto;
  max-height: 1000px;
}

/* section4 */
section.section4 {
  background-color: #edf3f3;
  padding-bottom: 20px;
}

section.section4 .section4-container {
  max-width: var(--widthAllPage);
  margin: auto;
}

.swiper-container {
  /* margin: 0 auto; */
  /* width: 1150px; */
}

/* section4 */
section.section4 {
  background-color: #edf3f3;
  padding-bottom: 20px;
}
section.section4 .section4-container {
  max-width: var(--widthAllPage);
  margin: auto;
}

.swiper-container {
  /* margin: 0 auto; */
  /* width: 1150px; */
}

div.mentor {
  padding: 20px 20px;
}

div.mentor .mentor-container {
  width: var(--widthMentorElement);
  padding: 16px;
  box-sizing: content-box;
  /* margin: 0 auto; */
  border-radius: 16px;
  background-color: #fff;
}

.mentor .mentor-container > .mentor-img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
  height: 200px;
}

.mentor .mentor-container > .mentor-course {
  margin: 10px 0 20px 0;
  color: #7d7d7d;
}

.mentor .mentor-container > .mentor-title {
  color: #717171;
  font-size: 13.6px;
  line-height: 1.5;
}

.mentor .mentor-container > .logo-mentor {
  margin-top: 10px;
  font-weight: 700;
  font-size: 20px;
  color: #ffaf35;
}

.section4-container > h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 40px 0;
  box-sizing: content-box;
}

.swiper-button {
  --button-px: 38px;
  float: inline-end;
  width: var(--button-px);
  height: var(--button-px);
  border-radius: 50%;
  background-color: #fff;
  border: 0;
  margin: 10px 10px;
  cursor: pointer;
}

.pagination-style {
  width: 18% !important;
  bottom: var(--swiper-pagination-bottom, 20px) !important;
}

.pagination-style .swiper-pagination-bullet {
  width: 30px;
  height: 8px;
  background-color: #397a71;
  border-radius: 8px;
}

/* update section 1 */
.intro-right {
  position: relative;
}
.intro-right .certificate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  width: 250px;
  height: 80px;
  padding: 5px 10px;
  box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  left: -200px;
  bottom: 50px;
  box-sizing: content-box;
  z-index: 1;
}

.intro-right .certificate .left {
  width: 20%;
}

.intro-right .certificate .right {
  width: 80%;
}

.intro-right .certificate .left > img {
  width: 32px;
  height: 32px;
  padding: 10px;
  border-radius: 50%;
  box-sizing: content-box;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.03);
  margin-bottom: 5px;
}

.certificate .right > .title {
  color: #f4b350;
  font-size: 17px;
  line-height: 1.2;
  margin-bottom: 5px;
  font-weight: 700;
}

.certificate .right > .content {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #7d7d7d;
}

/* update section 3 */
.feature-content {
  width: 200px;
}

.progress-circle-progress,
.progress-text {
  stroke: #6dd990;
}

.progress-text {
  fill: #6dd990;
}

.progress-bar {
  height: 5px;
}

.progress-bar-inner.green {
  background-color: #6fe5bf;
}

.progress-bar-inner.blue {
}

.LoremIpsum {
  bottom: 10px;
  left: -50px;
  width: 140px;
}
.LoremIpsum > strong {
  font-size: 17px;
}

.LoremIpsum > p {
  line-height: 1;
}

.headline > h1 {
  font-size: 50px;
}

.benefit-container {
  margin-top: 50px;
}

/* update section 2 */
.courseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.courseContainer > .course-title {
  width: 20%;
}

.courseContainer > .swiper-container {
  width: 80%;
}

div.arrow-container {
  float: right;
  margin-right: 20px;
}
/* section5 */
section {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}

.test-container {
  max-width: 1200px; /* Thu nhỏ độ rộng của box */
  margin: 0 auto; /* Căn giữa box */
  padding: 20px;
  background-color: #ffaf35;
  border-radius: 20px; /* Bo tròn các góc của box */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Khoảng cách giữa hình ảnh và văn bản */
}

.test-content img {
  max-width: 50%;
  border-radius: 20px;
}

.test-content div {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  max-width: 50%;
  text-align: center;
}
.test-content div img {
  max-width: 15%;
}
.test-content .deco1 {
  margin-right: 300px;
}
.test-content .deco2 {
  margin-left: 350px;
}
.test-content p {
  color: white;
  font-size: 1.5em; /* Font chữ to hơn */
  margin: 0; /* Loại bỏ margin */
}
.test-content a {
  color: black;
  font-size: 1.5em; /* Font chữ to hơn */
  text-decoration: none; /* Bỏ gạch chân của link */
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.test-content a:hover {
  background-color: #127c71;
}
