
:root {
  --widthAllPage: 1200px;
  --hoverColor: #127c71;
  --linkColor: #9e9e9e;
  --linkFontWeight: 600;
  --linkFontSize: 18px;
  --signBorderColor: #397a71;
  --signColor: #397a71;
  --signBackgroundColor: #ffffff;
  --signUpColor: #ffffff;
  --signUpBackgroundColor: #397a71;
  --accountShadow: 0 5px 10px 0 rgba(0, 0, 0, 0.09);
  --accountBackground: #ffffff;
  --accountHoverBackground: rgb(186, 184, 184);
  --accountHoverColor: #ffffff;
  --headlineCurve: url('https://coursespace.vercel.app/images/headline-curve.svg');
}

header {
  width: var(--widthAllPage);
  margin: 0 auto;
}

.navigation .center .navigation-item {
  margin: 0 24px;
  text-decoration: none;
  color: #9e9e9e;
  font-weight: 600;
  font-size: 18px;
}

.navigation .center {
  display: flex;
  margin-right: 100px;
}

.navigation-item {
  margin:  24px;
  text-decoration: none;
  color: var(--linkColor);
  font-weight: var(--linkFontWeight);
  font-size: var(--linkFontSize);
  position: relative;
  padding: 10px;
  display: inline-block;
}

.navigation-item:hover {
  color: var(--hoverColor);
}

.navigation-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: var(--headlineCurve) no-repeat center center / contain;
  background-size:auto 160%; /* Tăng kích thước hình ảnh */
  left: 0;
  bottom: -0.1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navigation-item:hover::after {
  opacity: 1;
}

.navigation .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.sign-in, button.sign-up {
  height: 37px;
  width: 80px;
  border-radius: 12px;
  font-weight: 600;
  border: 2px solid var(--signBorderColor);
}

button.sign-in {
  color: var(--signColor);
  background-color: var(--signBackgroundColor);
  margin-right: 16px;
}

button.sign-up {
  color: var(--signUpColor);
  background-color: var(--signUpBackgroundColor);
}

button.sign-in,
button.sign-up {
  transition: transform 0.3s ease; /* Hiệu ứng chuyển tiếp */
}

button.sign-in:hover,
button.sign-up:hover {
  transform: scale(1.1); /* Phóng to 1.1 lần kích thước */
}

.right .imageAccount {
  width: 55px;
  height: 55px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  box-shadow: var(--accountShadow);
}

.right .account-container {
  position: relative;
}

.right .account-setting {
  position: absolute;
  top: 70px;
  left: -210px;
  width: 230px;
  height: auto;
  padding: 5px 0;
  z-index: 1000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  background-color: #ffffff;
}

.account-setting ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.account-setting .li-account {
  padding: 7px 0;
  width: 100%;
}

.account-setting .li-account a {
  text-decoration: none;
  color: gray;
  padding-left: 1.3rem;
  width: 100%;
  display: block;
}

.account-setting .li-account:hover,
.account-setting .li-account:hover a {
  color: var(--accountHoverColor);
  background-color: var(--accountHoverBackground);
}

.account-setting .info-account {
  display: flex;
  align-items: center;
  width: 100%;
}

.account-setting .info-account > img {
  width: 58px;
  height: 58px;
  object-fit: cover;
  margin: 10px;
  border-radius: 50%;
}

hr.line-account {
  margin: 0;
  margin-bottom: 10px;
}

.info-account .content p.fullname {
  color: #000;
  padding: 0;
  margin: 0;
}

.navigation .left .logo {
  height: 100px;
}

.navigation .left .logo > img {
  height: 100%;
}
