.progress-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 10px; /* Chiều cao của mỗi ô vuông */
  /* margin: auto; Canh giữa */
}

.progress-bar__segment {
  height: 25px;
  width: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
  transform: skewX(-20deg);
}

.progress-bar__segment.Present {
  background-color: #4caf50;
}

.progress-bar__segment.Absent {
  background-color: #f44336;
}

.progress-bar__segment.NotStarted {
  background-color: #ffffff;
}

.progress-bar__segment:last-child {
  /* border-right: none; Loại bỏ viền của ô cuối cùng */
  border-radius: 0 10px 10px 0;
}

.note .note-child .note-img {
  width: 10px;
  height: 10px;
  display: inline-block;
}

.note .note-child .note-green {
  background-color: #4caf50;
}
.note .note-child .note-red {
  background-color: #f44336;
}
.note {
  margin-top: 20px;
  font-size: 20px;
}
