#register {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #f2b250, #38766d);
  align-items: center;
  justify-content: center;
}

#register .register-container {
  width: 966px;
  height: 600px;
  background-color: #fff;
  border-radius: 5px;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container .left {
  width: 50%;
}

.register-container .left img {
  width: 90%;
  padding-left: 10%;
  margin-right: 0 !important;
}

.register-container .left > img {
  display: block;
  margin: auto;
}

.register-container .right {
  width: 50%;
}

.right h1.title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 32px;
  line-height: 38.73px;
  margin-bottom: 15px;
}

.right .register-by-form > .btn {
  width: 261px;
  height: 40px;
  border-radius: 20px;
  background-color: #d9d9d9;
  margin: 5px auto;
  text-align: start;
}

.right .register-by-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-by-form .forgot {
  text-decoration: none;
  text-align: center;
  line-height: 18.15px;
  color: #929292;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin: 5px 0;
}

.register-by-form .forgot > span {
  font-weight: 800;
}

.register-by-form .btn.btn-submit {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  margin-top: 10px;
}

.right b.text-line {
  display: block;
  text-align: center;
  color: #929292;
  font-size: 15px;
}

.right .register-other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right .register-other .icon-register {
  width: 30px;
  margin: 10px;
}

.right .create-account a {
  text-decoration: none;
  margin-left: 3px;
  color: #929292;
}

.right .create-account img {
  height: 20px;
  stroke: #929292 !important;
  margin-left: 3px;
}
.right .create-account {
  color: #6d6c6c;
  display: flex;
  justify-content: center;
  height: 30px;
}
