#view-course {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toeic-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px #ccc;
  border-radius: 14px;
}

.goal-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Khoảng cách dưới */
}

.goal-title h2 {
  margin-left: 30px;
}

.hightlight {
  color: #127c71;
}

.goal-detail {
  display: flex;
  gap: 20px; /* Khoảng cách giữa các goal-detail1 và goal-detail2 */
  margin-top: 20px;
}

.goal-detail1,
.goal-detail2 {
  flex: 1; /* Căn chỉnh độ rộng của goal-detail1 và goal-detail2 */
  padding: 15px;
  border-radius: 14px;
}
.goal-detail1 {
  flex-basis: 40%;
  background-color: #f2f5f5;
  color: #000;
  border: 2px solid #127c71;
}
.goal-detail2 {
  flex-basis: 60%;
  background-color: #f2f5f5;
  color: #000;
  border: 2px solid #127c71;
}

.goal-detail1 > p,
.goal-detail2 > p {
  color: #000;
}

/* course-details */

.course-details {
  margin-top: 50px;
  color: black;
  display: flex;
  flex-direction: column;
}


.details-list1 ul{
margin-top: 50px;}

.course-details .details-list1 {
  flex: 60%;
  padding: 20px;
  border: 2px solid #127c71;
  border-radius: 16px;
  background-image: url("../../../public/assets/img/img-view.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #000;
  background-color: #d9d9d9;
  height: 700px;
}

.course-details .details-list2,
.course-details .details-list3 {
  background-color: #d9d9d9;
}

.details-list1 > ul {
  list-style: none;
  padding-bottom: 50px;
}

.details-list {
  display: flex;
  width: 100%;
}

.detailsTwo {
  flex: 40%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
}

.details-list2,
.details-list3 {
  text-align: center;
  margin-bottom: 20px;
  flex: 20%;
  border: 2px solid #e69215;
  padding: 10px;
  border-radius: 16px;
}

.details-list2 p,
.details-list3 p {
  color: #373434;
}

.details-list2 {
  padding: 10px;
  border-radius: 16px;
}

.details-list3 {
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 0;
  margin-top: auto;
}

.course-details li {
  justify-content: center;
}

/* course-content */

.course-content {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ccc; /* Border cho nội dung khóa học */
  border-radius: 8px;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.course-content h2 {
  color: #127c71;
  font-size: 24px;
  margin-bottom: 10px;
}

.content-table {
  width: 100%;
  max-width: 1200px;
  border: 1px; /* Border cho toàn bộ bảng */
  border-radius: 16px;
  margin-top: 20px;
  border-collapse: collapse; /* Collapse border để các ô không bị khoảng trắng */
}

.content-table th,
.content-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.content-table th {
  background-color: #127c71;
  color: white;
}

.content-table td:first-child {
  font-weight: bold;
  width: 25%;
}
.course-sign {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Chia div course-sign thành 4 cột bằng nhau */
  gap: 10px; /* Khoảng cách giữa các ô */
  max-width: 1200px;
}
.sign-course {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.sigh-schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sigh-schedule .study-time,
.open-date,
.teacher {
  text-align: center;
  color: #fff;
  flex: 1;
  margin-right: 10px;
  background-color: #e69215;
  border-radius: 10px;
}

.sigh-schedule a {
  flex: 1;
  text-align: center;
  background-color: #127c71;
  color: white;
  text-decoration: none;
  padding: 4px 4px;
  border-radius: 16px;
}

td.td-topic p,
td.td-outcome p {
  color: #000;
  margin: 0;
  padding: 0;
}

td.td-number,
td.td-topic {
  width: 30%;
}
